doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
    //- link(rel='stylesheet', href='/views/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/boostrap.min.css', type='text/css')
  body
    block content
